@{
    ViewData["Title"] = "Home Page";
}
    <form asp-action="Create">
        <div class="text-center">
            <h2 class="display-4">Sistema Escolar de Empleados y Solicitud de Permisos</h2>
            @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
            <label>Bienvenido!</label>

            @*<button class="form-control" style="margin-top:20px"><a href="Employees/Index">Ver Empleados</a></button>
            <button class="form-control" style="margin-top:20px"><a href="Permissions/Index">Ver Permisos</a></button>*@

            <label>Por favor, Ingresa tu Número de Identificación</label>
            <input type="number" class="typedID form-control" id="typedID" name="typedID" />

            <br />
            <div class="form-group">
            <input type="submit" value="Ingresar" class="btn btn-primary submit" /></div>

            @*<h3 style="margin-top:20px">Promedios</h3>
            <h4>Permisos por profesor al año</h4>
            <h4>Permisos por mes</h4>
            <h3>Numero de Permisos</h3>*@
    </form>
        </div>
